/**
 * Common
 */

/////////////////////////////////////////////////
// Colors
/////////////////////////////////////////////////
$chktvar-color-white: #ffffff;

/////////////////////////////////////////////////
// Sections
/////////////////////////////////////////////////
$chktvar-section-bg-default: #ffffff;
$chktvar-section-border-radius-default: 0.8rem;
