/**
 * Common
 */

/////////////////////////////////////////////////
// Colors
/////////////////////////////////////////////////
$chktvar-color-white: #FFFFFF;

/////////////////////////////////////////////////
// Sections
/////////////////////////////////////////////////
$chktvar-section-bg-default: #FFFFFF;
$chktvar-section-border-radius-default: 0.8rem;
